.clubs {
    padding-top: 170px;
    @include media('max', 'xl') {
        padding-top: 100px;
    }
}
.clubs-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 50px 45px 45px;
    background: #FFFFFF;
    border-radius: 15px;
    @include media('max', 'xl') {
        display: block;
    }
    @include media('max', 'sm') {
        padding: 20px 20px 30px;
    }
}
.clubs-content {
    max-width: 475px;
}
.clubs-photo {
    width: 200px;
    display: block;
    margin-bottom: 25px;
    @include media('max', 'sm') {
        width: 108px;
        margin-bottom: 15px;
    }
}
.clubs-title {
    h2 {
        font-weight: 700;
        font-size: 53px;
        line-height: 130%;
        letter-spacing: -0.04em;
        color: #222222;
    }
    p {
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: -0.04em;
        color: #86868B;
        margin-top: 10px;
    }
    @include media('max', 'sm') {
        h2 {
            font-size: 36px;
        }
        p {
            font-size: 16px;
        }
    }
}
.clubs-grid {
    display: flex;
    align-items: center;
    grid-gap: 30px;
    position: relative;
    @include media('max', 'xl') {
        margin-top: 20px;
    }
    @include media('max', 'sm') {
        grid-gap: 7px;
    }
}
.clubs-item {
    width: 252px;
    padding: 15px 22px 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
    background: linear-gradient(115.12deg, rgba(255, 255, 255, 0) 15.88%, rgba(255, 255, 255, 0.2) 39.56%, rgba(255, 255, 255, 0) 65.3%), rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(9px);
    margin-bottom: 25px;
    position: relative;
    z-index: 2;
    &::before {
        content: '';
        width: 76px;
        height: 76px;
        display: block;
        margin: 0 auto 5px;
        background: #52B083;
        border-radius: 50%;
    }
    &:last-child {
        margin-bottom: 0;
    }
    @include media('max', 'sm') {
        width: 138px;
        padding: 10px 12px 11px;
        border-radius: 14px;
        margin-bottom: 15px;
        &::before {
            width: 40px;
            height: 40px;
            margin-bottom: 5px;
        }
    }
}
.clubs-item__title {
    text-align: center;
    margin-bottom: 10px;
    b {
        font-size: 19px;
        line-height: 130%;
        letter-spacing: -0.04em;
        color: #222222;
        display: block;
    }
    p {
        font-weight: 700;
        font-size: 10px;
        line-height: 130%;
        letter-spacing: -0.04em;
        color: #86868B;
        margin-top: 2px;
    }
    @include media('max', 'sm') {
        margin-bottom: 3px;
        b {
            font-size: 10px;
        }
        p {
            font-size: 6px;
        }
    }
}
.clubs-item__link {
    @include button(100%, 40px);
    font-size: 12px;
    border-radius: 5px;
    margin-top: auto;
    @include media('max', 'sm') {
        height: 20px;
        font-size: 7px;
    }
}
.clubs-item_dark {
    background: linear-gradient(115.12deg, rgba(255, 255, 255, 0) 15.88%, rgba(255, 255, 255, 0.2) 39.56%, rgba(255, 255, 255, 0) 65.3%), rgba(0, 0, 0, 0.8);
    .clubs-item__title {
        b {
            color: #fff;
        }
    }
    &::before {
        background: linear-gradient(91.18deg, #4DFFAA 8.47%, #FFF84D 71.86%);
    }   
}
.clubs-item_single {
    &::before {
        background: linear-gradient(91.18deg, #4D74FF 8.47%, #B04DFF 71.86%);
    }
}
.clubs-item__bg {
    width: 515px;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 30px;
    @include media('max', 'sm') {
        width: 280px;
        top: 17px;
        left: 15px;
    }
}