.questions {
    padding: 90px 0;
    @include media('max', 'sm') {
        padding: 85px 0 55px;
    }
}
.questions-title {
    max-width: 925px;
    padding: 40px 60px;
    border: 3px solid #181818;
    border-radius: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    h2 {
        font-weight: 700;
        font-size: 38px;
        line-height: 130%;
        text-align: center;
        display: inline-block;
        letter-spacing: -0.04em;
        color: #EAEAEA;
    }
    @include media('max', 'sm') {
        padding: 30px 20px 35px;
        h2 {
            font-size: 22px;
        }
    }
}
.questions-btn {
    width: 240px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 2px solid #EAEAEA;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: -0.04em;
    color: #EAEAEA;
    margin: 30px auto 0;
    transition: .4s;
    i {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #EAEAEA;
        border-radius: 50%;
        font-size: 10px;
        color: #D9D9D9;
        flex-shrink: 0;
        margin-left: 10px;
        transition: .3s;
    }
    &:hover {
        background-color: $main-color;
        border-color: $main-color;
        i {
            background-color: #EAEAEA;
            color: $main-color
        }
    }
    @include media('max', 'sm') {
        width: 180px;
        height: 54px;
        font-size: 12px;
        i {
            width: 22px;
            height: 22px;
            font-size: 8px;
        }
    }
}
.questions-requisites {
    text-align: center;
    margin-top: 140px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.04em;
    color: #86868B;
    b {
        display: block;
    }
    @include media('max', 'sm') {
        margin-top: 80px;
        font-size: 15px;
    }
}
.questions-link {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 15px;
    margin-top: 30px;
    a {
        font-weight: 600;
        font-size: 19px;
        line-height: 130%;
        letter-spacing: -0.04em;
        text-decoration-line: underline;
        color: #86868B;
        transition: .4s;
        &:hover {
            color: #fff;
        }
    }
    @include media('max', 'sm') {
        margin-top: 15px;
       a {
            font-size: 12px;
       }
    }
}