.reviews {
    padding-top: 180px;
    @include media('max', 'xl') {
        padding-top: 75px;
    }
}
.reviews-title {
    position: relative;
    h2 {
        max-width: 355px;
        font-weight: 700;
        font-size: 39.8839px;
        line-height: 130%;
        letter-spacing: -0.04em;
        color: #86868B;
        span {
            color: #EAEAEA;
        }
    }
    @include media('max', 'sm') {
        h2 {
            font-size: 25px;
            text-align: center;
        }
    }
}
.reviews-arrow {
    display: flex;
    align-items: center;
    grid-gap: 15px;
    position: absolute;
    right: 0;
    top: 28px;
    a {
        width: 86px;
        height: 86px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #86868B;
        transition: .4s;
        path {
            transition: .3s;
        }
        &:hover {
            background-color: $main-color;
            path {
                stroke: #fff;
            }
        }
    }
    @include media('max', 'sm') {
        width: 100%;
        position: static;
        justify-content: center;
        margin-top: 20px;
        a {
            width: 54px;
            height: 54px;
        }
        svg {
            transform: scale(0.8);
        }
    }
}
.reviews-dots {
    margin-top: 35px;
    ul {
        width: 100%;
        display: flex;
        background: #171717;
        border-radius: 1px;
    }
    li {
        width: 100%;
        height: 2px;
        border-radius: 1px;
        transition: .4s;
    }
    .slick-active {
        background-color: $main-color;
    }
    button {
        display: none;
    }
}
.reviews-wrap {
    overflow: hidden;
    margin-top: 50px;
    @include media('max', 'sm') {
        overflow: inherit;
        margin-top: 45px;
    }
}
.reviews-slider {
    width: calc(100% + 26px);
    margin-left: -13px;
    @include media('max', 'sm') {
        width: 400px;
        margin-left: -5px;
        .slick-list {
            padding-right: 70px;
        }
    }
}
.reviews-slide {
    padding: 17px 20px;
    background: #FFFFFF;
    border-radius: 18px;
    margin: 0 13px;
    @include media('max', 'sm') {
        margin: 0 5px;
        min-height: 510px;
    }
}
.reviews-slide__content {
    display: flex;
    align-items: flex-start;
    @include media('max', 'sm') {
        display: block;
    }
}
.reviews-slide__photo {
    width: 251px;
    height: 225px;
    display: block;
    border-radius: 15px;
    flex-shrink: 0;
    margin-right: 20px;
    @include media('max', 'sm') {
        margin: 0 auto;
    }
}
.reviews-content {
    @include media('max', 'sm') {
        margin-top: 20px;
    }
}
.reviews-info {
    display: flex;
    padding-bottom: 13px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(#D9D9D9, 0.2);
}
.reviews-name {
    padding: 8px 11px 8px 14px;
    display: flex;
    align-items: center;
    background: #F7F7F7;
    font-weight: 700;
    font-size: 13px;
    line-height: 130%;
    letter-spacing: -0.04em;
    color: #9E9E9E;
    border-radius: 3px;
    margin-right: 8px;
    img {
        margin-right: 5px;
        flex-shrink: 0;
    }
}
.reviews-link {
    padding: 8px 7px;
    font-weight: 700;
    font-size: 13px;
    line-height: 130%;
    letter-spacing: -0.04em;
    color: #9E9E9E;
    border: 1px solid #F7F7F7;
    border-radius: 3px;
}
.reviews-description {
    h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: -0.04em;
        color: #222222;
        margin-bottom: 3px;
    }
    p {
        font-size: 14px;
        line-height: 130%;
        letter-spacing: -0.04em;
        color: #4F4F4F;
    }
}